/* CSS Document */
:root {
  /*グローバル変数を定義*/
  --theme-color: #225386;

  --content-max: 720px;
  --content-width: min(90%, var(--content-max));
  --site-bg: url("../img/bg/bg-light-2560x1600.webp");

  --font-sans: 
               "Hiragino Sans", "Hiragino Kaku Gothic ProN", system-ui, -apple-system, "Segoe UI", Roboto,
               "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif;

  --font-code:  "Roboto Mono", system-ui, -apple-system, "Segoe UI", Roboto,
                "Hiragino Sans", "Hiragino Kaku Gothic ProN",
                "Yu Gothic UI", "Yu Gothic", Meiryo, sans-serif;

  --font-size-h1: 2rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.4rem;
  --font-size-h4: 1.2rem;
  --font-size-h5: 1rem;
  --font-size-p: 1rem;
  --font-size-p-small: 0.8rem;
  --font-size-code-em: 0.9rem;
  --font-size-result-em: 0.9rem;

  --font-color-normal-text: #666666;
  --font-color-strong-text: #333333;
  --font-color-strongest-text: #000000;

  --font-color-red: rgba(235, 115, 128, 1.00);
  --font-color-lightgreen: rgba(102, 218, 160, 1.00);
  --font-color-purple: rgba(186, 128, 182, 1.00);
  --font-color-lime: rgba(180, 205, 167, 1.00);
  --font-color-orange: rgba(230, 150, 120, 1.00);
  --font-color-yellow: rgba(212, 214, 154, 1.00);
  --font-color-pink: rgba(255, 0, 255, 1.00);
  --font-color-blue: rgba(0, 84, 138, 1.0);
  --font-color-green: rgba(100, 180, 50, 1.00);
  --font-color-magenta: rgba(221, 83, 158, 1.00);
  --font-color-magenta-a75: rgba(221, 83, 158, 0.75);
  --font-color-normalgreen: rgba(41, 194, 49, 1.00);
  --font-color-code: #666666;
  --font-color-code-light: #cccccc;
  --font-color-code-comment: #358A07;
  --font-color-code-details-summary: #1C4A04;

  --background-color-darkestblue: rgba(0, 25, 41, 1.0);
  --background-color-darkerblue: rgba(0, 44, 71, 1.0);
  --background-color-darkblue: rgba(0, 63, 102, 1.0);
  --background-color-dark: #666666;
  --background-color-darker: #444444;
  --background-color-darkest: #222222;
  --background-color-lightgray: rgba(127, 127, 127, 0.1172);
  --background-color-lightestgray: rgba(127, 127, 127, 0.0234);

  --background-color-lighterred: rgba(242, 206, 231, 1);
  --background-color-lightred: rgba(242, 182, 224, 1);

  --color-blue-lightest: #cfdae5;
  --color-blue-lighter: #b6c7d7;
  --color-blue-dark: rgba(0, 63, 102, 1.0);

  --background-color-code: #cfdae5;
  --background-color-result: #f8f8f8;
  --background-color-example: #CAE6C3;
  --background-color-html-header: var(--background-color-darkerblue);
}

/*
明 #e7ecf2
中間 #cfdae5
暗 #b6c7d7
グレー #f6f6f6
*/


@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: color-mix(in oklab, #225386 68%, white 32%);
    --site-bg: url("../img/bg/bg-dark-2560x1600.webp");
    --font-color-normal-text: #999;
    --font-color-strong-text: #ccc;
    --font-color-strongest-text: #fff;

    --background-color-lighterred: rgba(64, 48, 59, 1);
    --background-color-lightred: rgba(64, 41, 57, 1);
  }
}

html, body { height: 100%; }

html {
  box-sizing: border-box;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  color: var(--font-color-normal-text);
  scroll-behavior: smooth;
}

*, *::before, *::after { box-sizing: inherit; }
img, svg, video, canvas { max-width: 100%; } /* ← グローバルは100%に */
button, input, select, textarea { font: inherit; }
pre { overflow: auto; }
pre, code, tt{font-family: var(--font-code); font-weight: 400; font-optical-sizing: auto; line-height: 1.6;}

body {
  margin: 0px;
  padding: 0px;

  background-image: var(--site-bg);
  background-size: cover;           /* 画面いっぱいに拡大縮小 */
  background-position: center center;
  background-attachment: fixed;     /* パララックス風（重い場合は外す） */
  background-repeat: no-repeat;
}

footer{
  margin-top:2rem;
  padding:1rem 0;
  text-align:center;
  font-size:0.85rem;
  letter-spacing:0.5px;
  color:#666;
  background-color: transparent;
}


.red {
  color: var(--font-color-red);
}

.pink {
  color: var(--font-color-pink);
}

.blue {
  color: var(--font-color-blue);
}

.green {
  color: var(--font-color-green);
}

.magenta-a75 {
  color: var(--font-color-magenta-a75);
}

.magenta {
  color: var(--font-color-magenta);
}

.normalgreen {
  color: var(--font-color-green);
}

.transparent {
  color: transparent;
}

.clickable {
  font-weight: bold;
  cursor: pointer;

}

/*HTML実習の中で使うCSSのセレクタ・プロパティ・値の色*/
.css-selector {
  color: #D64D15;
}

.css-property {
  color: #2b91af;
}

.css-value {
  color: #8A2D07;
}


div.center {
  text-align: center;
}

.x-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.x-scroll> :not(ul) {
  white-space: normal;
}

i {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

p.small-text {
  font-size: var(--font-size-p-small);
}

span.small-text {
  font-size: var(--font-size-p-small);
}


span.tab {
  margin-left: 24px;
}

span.notes {
  color: var(--font-color-magenta);
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}





tt {
  padding: 0px 5px;
  background-color: rgba(10, 84, 138, 0.06);
  color: var(--font-color-strong-text);
}

th tt {
  color: rgba(255, 255, 255, 0.90);
}

table tt {
  background-color: transparent;
}

.small-tt td tt {
  font-size: 1em;
}

h3 tt {
  color: var(--theme-color);
  background-color: transparent;
}

h4 tt {
  background-color: transparent;
}

b tt {
  background-color: transparent;
  font-weight: 600;
}


.background-transparent {
  background-color: transparent;
}

/*Math Jax*/
mjx-container {}

mjx-container:not([display="true"]) {
  /* インラインの数式 
  font-size: 100% !important;
  font-weight: bolder;*/
  padding-left: 3px;
  padding-right: 3px;
}

mjx-container[display="true"] {
  /* ブロックの数式 */
  font-size: 125% !important;
  display: inline-grid;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.chem .mjx-math {
  font-family: 'Arial', 'Helvetica';
}


iframe {
  width: 720px;
  height: 441px;
  background-color: transparent;
  border: none;
}




code, pre {
  font-family: var(--font-code);
}


@media (max-width: 600px) {
  :root {
    --font-size-h1: 1.2rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1.1rem;
    --font-size-p: 1.0rem;
    --font-size-p-small: 0.8rem;
    --font-size-code-em: 0.9rem;
    --font-size-result-em: 0.9rem;
  }

  html {
    font-size: 0.9rem;
  }

  #headerbar {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 0px;
    border-top: solid 4px;
    border-top-color: var(--theme-color);
    border-bottom: solid 4px;
    border-bottom-color: var(--theme-color);
  }

  #logo {
    width: 52px;
    height: 52px;
  }

  #img_logo {
    width: 40px;
    height: 41px;
  }

  #headerbar #main_title,
  #headerbar #main_title a {
    height: 52px;
    width: calc(100% - 60px);
    line-height: 60px;
    padding-left: 0px;
    font-size: 24px;
  }

  section article {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  #sidebar {
    right: -234px;
  }

  table {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 719px) {
  :root {
    --font-size-h1: 1.2rem;
    --font-size-h2: 1.2rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1.1rem;
    --font-size-p: 1.0rem;
    --font-size-p-small: 0.8rem;
    --font-size-code-em: 0.9rem;
    --font-size-result-em: 0.9rem;
  }

  html {
    font-size: 0.9rem;
  }

  #headerbar {
    width: 100%;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border-top: solid 4px;
    border-top-color: var(--theme-color);
    border-bottom: solid 4px;
    border-bottom-color: var(--theme-color);
  }

  #logo {
    width: 72px;
    height: 72px;
  }

  #img_logo {
    width: 100%;
    height: 100%;
  }

  #headerbar #main_title,
  #headerbar #main_title a {
    height: 72px;
    width: calc(100% - 60px);
    line-height: 72px;
    padding-left: 0px;
    font-size: 30px;
    vertical-align: middle;
  }

  section article {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }

  table,
  th,
  td {
    font-size: 0.8rem;
  }

}



