@charset "UTF-8";

#check{
  display:none;
}

#check:checked ~ #sidebar{
  right: 0px;
}

#sidebar{
	right: -228px;
	position: fixed;
	width: 		280px;
	height: 	100vh;
	margin: 	0px;
	padding:	0px;
	font-size: 12px;
	transition: all 0.5s;
	display:flex;
  z-index: 1000;
  
}

#sidebar_left{
	width: 		40px;
	height: 	100%;
	margin: 	0px;
	padding:	0px;
}
#sidebar_left label #closeBtn {
  display: flex; /* 子要素を中央揃え */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.90); /* 修正: 256を255に変更 */
  background-color: var(--theme-color);
  height: 40px;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -1px 0 3px 2px rgba(0, 0, 0, 0.5);
}

#sidebar_left label #closeBtn:hover {
  cursor: pointer;
  background-color: rgba(40, 124, 178, 1.0);
}

#sidebar_left label #closeBtn img {
  width: 32px;
  height: 32px;
}

#sidebar_right{
  width: 		240px;
  height: 	100%;
  margin: 	0px;
  padding:	0px;
  background-color: var(--theme-color);
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}